* {
  padding: 0px;
  margin: 0px;
  font-family: monospace;
}

::-moz-selection {
  background-color: unset;
  color: unset;
}

::selection {
  background-color: unset;
  color: unset;
}

#status {
  font-family: monospace;
  background-color: rgb(218, 218, 218);
  color: rgb(0, 0, 0);
  padding-top: 50px;
  font-size: 15px;
  padding-bottom: 50px;
  width: 90%;
  padding-left: 10%;
}
#status big {
  font-family: monospace;
  width: 90%;
  padding-left: 10%;
}
#status #cad {
  width: 50%;
  margin-left: 25%;
}

.add {
  width: 100%;
  color: rgb(0, 0, 0);
  background-color: rgb(219, 219, 219);
}
.add h1 {
  width: 90%;
  padding-left: 10%;
}

.add-new {
  background-color: white;
  color: black;
  width: 90%;
  padding-left: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.add-new form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.add-new form p {
  font-weight: bold;
}
.add-new form fieldset {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  margin: 10px;
  display: flex;
  border-radius: 10px;
}
.add-new form fieldset label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.add-new form fieldset legend {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: monospace;
  padding: 5px;
}
.add-new form fieldset input {
  font-size: 15px;
  width: auto;
  border: none;
  outline: none;
  color: black;
  font-family: monospace;
}
.add-new form fieldset :focus {
  border-bottom: 1px solid rgb(0, 153, 255);
  transition: all, 100ms;
  background-color: white;
}
.add-new form fieldset label span {
  font-size: 15px;
  margin-right: 10px;
}
.add-new form fieldset label input {
  font-size: 15px;
  width: auto;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: black;
  font-family: monospace;
}

button {
  align-self: center;
  min-width: 30vw;
  color: rgb(0, 255, 0);
  clear: both;
  background-color: black;
  border: none;
  margin: 10px 35vw;
  padding: 5px 0px;
  border-radius: 30px;
  border: 1px solid transparent;
}

button:hover {
  transition: all, 100ms;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 134, 0);
  border: 1px solid silver;
}

button:active {
  background-color: white;
  border: 1px solid black;
  color: rgb(0, 0, 0);
}

.asker {
  transition: all, 1s;
  min-width: 70vw;
  min-height: 70vh;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  background-color: transparent;
  -webkit-backdrop-filter: blur(0px) brightness(50%);
          backdrop-filter: blur(0px) brightness(50%);
  padding: 15vh 15vw;
  display: flex;
  justify-content: center;
}
.asker .ask-center {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  padding: 15vh 15vw;
  border-radius: 10px;
}
.asker .ask-center p {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.asker button {
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 3px;
}
.asker .btn-1 {
  background-color: rgb(70, 101, 240);
  color: white;
  border: none;
  margin-top: 20px;
}
.asker .btn-1:active {
  transition: all, 100ms;
  filter: brightness(80%);
}
.asker .btn-2 {
  background-color: rgb(224, 67, 67);
  color: white;
  border: none;
}
.asker .btn-2:active {
  transition: all, 100ms;
  filter: brightness(80%);
}

.who {
  background-color: black;
  padding-left: 3%;
}

.list-student {
  width: 80%;
  padding: 10px 10%;
  background-color: rgb(230, 230, 230);
  min-height: 200px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.list-student section {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 15px 30px;
  border-radius: 5px;
}
.list-student section .sty1 {
  background-color: rgb(0, 218, 18);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
  color: white;
}
.list-student section .sty2 {
  background-color: rgb(255, 87, 87);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
  color: white;
}
.list-student section .sty3 {
  background-color: rgb(92, 92, 218);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
  color: white;
}
.list-student section .sty4 {
  background-color: rgb(255, 98, 98);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
  color: white;
}
.list-student section .sty5 {
  background-color: rgb(163, 65, 255);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
  color: white;
}
.list-student section .sty6 {
  background-color: rgb(25, 144, 255);
  width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
  color: white;
}
.list-student section .sty7 {
  background-color: rgb(95, 95, 95);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
  color: white;
}
.list-student section .pp {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
  align-items: center;
  text-overflow: ellipsis;
}
.list-student section .pp p {
  padding: 20px;
  font-family: sans-serif;
  font-size: 20px;
  height: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.list-student section span {
  border-radius: 10px !important;
  box-shadow: 0px 0px 4px rgb(109, 109, 109);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 35px !important;
  height: 35px !important;
  padding: 10px !important;
  text-align: center !important;
}/*# sourceMappingURL=globals.css.map */